.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 0 0 0 2;
    -fx-border-color: #151515;
    -fx-background-radius: 1;
    -fx-pref-height: 6;

}

*.table-view {
    -fx-alternative-column-fill-visible: true;
    -fx-background-color: c9c9c9;
    -fx-border-color: c9c9c9;
}