.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 0 0 0 2;
    -fx-border-color: #151515;
    -fx-background-radius: 1;
    -fx-pref-height: 6;

}

#my-table .table-cell {
    -fx-alignment: CENTER-LEFT;
    /* The rest is from caspian.css */

    -fx-skin: "com.sun.javafx.scene.control.skin.TableCellSkin";
    -fx-padding: 0;

    -fx-background-color: transparent;
    -fx-border-color: transparent -fx-table-cell-border-color transparent transparent;
    -fx-border-width: 0;
    -fx-cell-size: 2;
    -fx-text-fill: -fx-text-inner-color;
}